.menu-container {
    width:100%;
    margin: 0 10;
    padding: 20px 0;
}
.menu-wrapper{   
    display:flex;   
    align-items: center;
    justify-content: center;
}
.mainnav{

    margin-bottom:15px;
    margin-top:10px;
    width:95vw;
}


.menu {

    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    position: relative;
    margin-top:1.5rem;
    margin-bottom:1.5rem

}
.menu a, .menu a:link, .menu a:visited, .menu a:focus, span {
    color: #000;
    text-decoration: none;
}
.menu a:hover {
    color: #227087;
    text-decoration: none;
}
.menu > li {
    display: block;

}
.menu > li > a {
    padding:1.5rem 2.5rem;
    display: block;
    width: 20%;
    background: var(--gradient-base-background-2);
    margin-bottom:5px; 

}
.menu > li:hover > a {
    color: rgba(var(--gradient-base-accent-2));
}
.menu > li:hover > a {
    background: var(--gradient-base-accent-2);
    color:#fff;
    border:none
}
/* Megadrop width dropdown */
 .menu > li > .megadrop {
    opacity: 0; 
    visibility: hidden; 
    position: absolute;
    list-style: none;
    top: 0px;
    min-height: 100%;
    text-align: left;
    padding: 0;
    z-index: 99;
    overflow: hidden;
    background: var(--gradient-base-background-2);
    right:0;
    width:79%
}
.menu > li:hover .megadrop {
    opacity: 1;
    visibility: visible;
}
.menu ul li:hover:after {
    color: #227087;
}
.menu .col {
    width: 14.1%;
    float: left;
    color:white;
    margin: 0 0 0 2.2%;
    margin-left:20px
}
.menu .col ul {
    padding: 0;
    padding-left:0
}
.menu .col ul li {
    padding: 0;
    list-style: none;
    font-size: 11px;
}
.menu .col h3 {
    font-size: 16px;
    padding: 10px 0;
    font-weight: bold;
    margin: 5px 0 5px 0;
    color: #227087;
    background: #eee;
}
.menu .col ul li a {
    display: block;
    padding: 0 0 15px 0;
    color: #227087;
}
.menu .col ul li a:hover {
    color: #111;
    text-decoration: underline;
}
.menu > li > ul li ul, .menu li >ul li, .menu > li > .megadrop, .menu > li > ul, .menu > li {
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-outs;
}

.megamenu-wrapper{
    background: rgb(var(--color-accent-1));
    color: rgb(var(--color-foreground));
    margin-bottom: 10px
}